#wrapper {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
#preview {
	/* display: none; */
	margin: 0 auto;
	width: 100%;
	background-color: transparent;
	/* border: 6px solid black; */
	/* border-radius: 16px; */
}
img {
	width: 90%;
	height: 90%;
	border: 6px solid black;
	border-radius: 16px;
} 
h1 {
	font-size: clamp(1rem, calc(1.25vw + 1.5rem), 1.6rem);
}
@font-face {
	font-family: 'MyFont';
	src: url(./MPLUSRounded1c-Regular.ttf);
}

body {
	font-family: MyFont;
	/* font-size: clamp(0.9rem, calc(0.25vw + 1.3rem), 1.5rem); */
	width: 100%;
}
#colorCodes :not(:last-child):after{
	content: "／";
	color: black;
}